.project-card {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 60px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.project > h4 {
    text-align: center;
    font-weight: bold;
}

.athena-images {
    margin-bottom: 32px;
    border-radius: 8px;
}

.event-head {
    margin-top: 100px;
}

 .row-title {
     padding-top: 22vh;
     padding-bottom: 9vh;
 }

 .sig-img {
     max-height: 17vh;
 }