/*
 * Fonts
 */

@font-face {
    src: url(Teko-Light.ttf);
    font-family: teco;
}


/* 
 *  Font classes for easy reuse
 */

.prociono {
    font-family: 'Prociono';
}

.teco {
    font-family: teco;
}

.sans {
    font-family: 'Open Sans Condensed', sans-serif;
}


/*
 * Animations
 */

@-webkit-keyframes blurIn {
    0% {
        color: rgba(255, 255, 255, 0)
    }
    25% {
        color: rgba(255, 255, 255, 1)
    }
    75% {
        color: rgba(255, 255, 255, 1)
    }
    100% {
        color: rgba(255, 255, 255, 0)
    }
}


/* Standard syntax */

@keyframes blurIn {
    0% {
        color: rgba(255, 255, 255, 0)
    }
    25% {
        color: rgba(255, 255, 255, 1)
    }
    75% {
        color: rgba(255, 255, 255, 1)
    }
    100% {
        color: rgba(255, 255, 255, 0)
    }
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    line-height: 1.66;
}

body {
    background-image: url("img/landing.jpg");
    background-attachment: fixed;
    background-size: cover;
}


/*
 * Navigation and popup menu
 */

nav {
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

nav #small_logo {
    height: 5vh;
    display: inline-block;
    vertical-align: middle;
}

nav ul {
    list-style-type: none;
    display: inline-block;
    z-index: 150;
    position: absolute;
    right: 0px;
    font-size: 1.5em;
}

nav ul li {
    display: inline-block;
    padding-right: 10px;
    cursor: pointer;
}

nav ul li a {
    color: white;
    text-decoration: none;
}


/* The cool button */

.nav-icon div {
    height: 2px;
    border-radius: 1px;
    float: right;
    width: 18px;
    background: white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.nav-icon div::before,
.nav-icon div::after {
    content: "";
    height: 2px;
    border-radius: 1px;
    position: absolute;
    background: white;
    right: 0px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.hover div::before {
    top: -10px!important;
}

.hover div::after {
    top: 10px!important;
}

.nav-icon div::before {
    width: 24px;
}

.nav-icon div::after {
    width: 12px;
}

.nav-icon div::before {
    top: -8px;
}

.nav-icon div::after {
    top: 8px;
}

.cross.active .span::before {
    top: 0px!important;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 18px;
}

.cross.active .span::after {
    top: 0px!important;
    width: 18px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.cross.active .span {
    background: none;
}

.cross {
    overflow: hidden;
}

.parent {
    position: fixed;
    width: 5vh;
    height: 5vh;
    right: 10px;
    top: 0px;
}


/*
 * Home page
 */

.landing_page {
    font-size: 6em;
}

.landing_page .main_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
}

.landing_page .main_container .effect_char {
    color: rgba(255, 255, 255, 0);
    animation-name: blurIn;
    animation-duration: 2s;
}

.landing_page .main_container #logo img {
    width: 300px;
    height: auto;
}


/*
 * About Page
 */

.about {
    background-color: white;
    position: relative;
}

.about .wrapper {
    display: table;
    width: 100%;
}

.wrapper .col {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
}

.col_left.col {
    font-size: 3.5em;
    padding: 5%;
}

.text2 {
    font-size: 1.5em;
    color: #cdcdcd;
    position: relative;
    top: 30px;
    opacity: 0;
}

.col.col_right {
    font-size: 1.4em;
}


/*
 * SIGs
 */

.mybox {
    display: inline-block;
    width: 45%;
    padding: 6%;
    align-items: center;
    color: white;
}

.sliders {
    color: white;
    vertical-align: center;
}


/* Common css */

.sub_title {
    font-size: 1.5em;
}


/* Slides */

.slide2 .col_right,
.slide4 .col_right{
    background-color: rgb(242, 239, 233);
}

.slide1 .col_right,
.slide3 .col_right{
    background-color: #130440;
}
.slide .col{
    width: 50%;
    float: left;
    height: 100vh;
}
/*
.slide_button {
    margin: 0 auto;
    border-radius: 5%;
    background-color: #8E76D4;
    font-family: Montserrat, serif;
    text-transform: uppercase;
    text-align: center;
    border: solid #8E76D4 4px;
    width: auto;
    display: inline-block;
    margin-top: 5%;
    padding: 1%;
    font-size: 20px;
    box-shadow: inset 0 0 0 0 rgb(90, 212, 238);
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    transition: all ease 0.8s;
}

.slide1 .slide_button,
.slide3 .slide_button {
    color: #130440;
    background-color: #8E76D4;
    border: solid #8E76D4 4px;
}

.slide_heading {
    color: #8E76D4;
    font-family: Montserrat;
    font-size: 34px;
}

.slide_content {
    margin-top: 3%;
    font-family: Montserrat;
        
}*/
.slide .wrapper{
    overflow: hidden;
    width: 100%;
    padding: 0px!important;
    height: 100vh;
}
.slide .bgbox{
    background-image: url("img/sig.jpg");
    height: 100vh;
    background-size: cover;
}

.slide1 .slide_content,
.slide3 .slide_content {
    color: rgb(242, 239, 233);
}

.slide2 .slide_content,
.slide4 .slide_content {
    color: black;
}
.slide a{
        text-decoration: none;
        display: block;
        color: white;
        padding: 10px;
        width: 100%;
        text-align: center;
        background-color: rgba(255,255,255,0.5);
    }
/*
.fp-controlArrow.fp-prev {
    left: 0;
    border: none;
    width: 50px!important;
    height: 101px;
    background: url(img/left_arrow.png) no-repeat;
    cursor: pointer;
}
.fp-controlArrow.fp-next {
    right: 0;
    border: none;
    width: 50px!important;
    height: 101px;
    background: url(img/right_arrow.png) no-repeat;
    cursor: pointer;
}*/
/* Events */

.events {
    background-color: #fff;
}


/*
.title_holder{
    font-size: 3.5em;
    text-align: center;
    padding: 20px;
}
.events ul{
    list-style-type: none;
}
.events li {
    display: inline-block;
    padding: 20px;
    font-size: 3em;
    width: 33%;
    text-align: center;
}
.my_arrow{
    border:0px solid black!important;
    color:white;
    font-family: teco;
}
.my_arrow:hover{
    background-color: rgba(0,0,0,0.3);
}
*/

.events_wrapper {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.events * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.events .box {
    width: 50%;
    height: 100vh;
    display: block;
    float: left;
}

.events .event_details {
    margin-top: 10%;
}

.events .text2 {
    font-size: 3.5em;
    transition-duration: 800ms;
}

.box_left {
    background-color: #345492;
    padding: 60px;
}

.box_middle {
    background-color: white;
    position: relative;
    overflow: hidden;
    z-index: 10;
    transition:1s cubic-bezier(0.22, 0.61, 0.36, 1) all;

}

.box_middle ul {
    width: 100%;
    list-style-type: none;
    padding: 10%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.box_middle ul li {
    border-bottom: 1px dashed #cdcdcd;
    padding: 10px;
    cursor: pointer;
    color: #345492;
}

.box_middle ul li:hover {
    font-weight: bolder;
}

.box_middle ul li:hover::after {
    content: " >>";
    color: #345492;
}

.box_right {
    background-color: #345492;
    position: absolute;
    right: 0px;
    padding: 4%;
}
.box_right h2{
    text-align: right;
    font-size: 2em;
}
.box_right .event_sub_title{
    text-align: right;
}
.box_right ul{
    list-style-type: none;
}
.event_info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.event_desc_p{
    padding: 10px 0px 10px 0px;
    text-align: justify;
}
.more{
    text-align: right;
}
h3.event_name.teco {
    font-size: 5em;
    color: white;
}

/* Team */
.title_image{
    height: 100vh;
    width:50%;
    background-image: url("img/sig.jpg");
    background-size: cover;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.team_title{
    font-size: 5em;
    color: white;
}
.title_image a{
    text-decoration: none;
    color: white;
    font-size: 2em;
}

footer{
    width: 100%;
    height: 50vh;
    background-color: white;
}
footer h3{
    text-align: center;
}
footer .icons{
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content:center;
}
footer .icon{    
    position: relative;
    display: inline-block;
    margin: 400px 10px 0px 10px;
    transition:1.2s all cubic-bezier(0.87, -0.01, 0.03, 0.97);
}
.icon_show{
    margin: 0px 10px 0px 10px!important;
    transition:1.2s all cubic-bezier(0.87, -0.01, 0.03, 0.97);
}
.icon2{
    transition-delay: 0.15s!important;
}

.icon3{
    transition-delay: 0.3s!important;
}
.icon4{
    transition-delay: 0.45s!important;
}
footer .icon img{
    width:60px;
}

/* Common css */

.sub_title {
    font-size: 1.5em;
}


/* Mobile phones */

@media only screen and (max-width: 768px) {
    .landing_page {
        font-size: 4em;
    }
    .landing_page .main_container #logo img {
        width: 50%
    }
    .about .wrapper {
        display: block;
        width: 100%;
    }
    .wrapper .col {
        display: block;
        width: 100%;
        padding: 0vh 5vh 0vh 5vh;
    }
    .col_left {
        padding-top: 5vh!important;
        padding-bottom: 5vh!important;
    }
    .bgbox{
        z-index: -100;
    }
    .slide .wrapper>div{
        position: relative;
        background-color: transparent!important;
        width: 100%!important;
    }
    .slide .col_right{
        top:-100vh;
        padding: 15%;
    }
    h1.slide_heading{
        font-size: 4em;
        text-align: center;
    }
    
    .text1,
    .text2 {
        text-align: center;
        font-size: 1em;
    }
    .col_right {
        font-size: 1.1em!important;
        text-align: justify;
        overflow: hidden;
    }
    .events .box_left{
        width: 100%!important;
        float: none!important;
        display: block;
        height: auto;
    }
    .events .box_middle{
        width: 100%;
    }
    .visible_side_menu{
        width: 10%!important;
        padding: 0px;
        transition:1s cubic-bezier(0.22, 0.61, 0.36, 1) all;
    }
    .visible_side_menu li .name{
        display: none;
    }
    .events .box_left{
        height: 20vh;
        padding: 0px;
        position: relative;
    }
    .events .box_left .event_details{
        display: none;
    }
    .event_info {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .events .box_middle{
        height: 80vh;
    }
    .events .box_right{
        width:90%;
        height: 80vh;
        overflow: auto;
    }
    .box_middle ul li:hover::after {
        content: "  ";
        color: #345492;
    }

    /* The cool button */
    .hover div::before {
        top: -8px!important;
    }
    .hover div::after {
        top: 8px!important;
    }
}

@media only screen and (max-width: 1023px) {}


/* Projects part */

.projects {
    background-color: rgb(242, 239, 233);
}
.project{
    width: 25%;
    display: inline-block;
}
