/*
 * Fonts
 */

@font-face {
    src: url(Teko-Light.ttf);
    font-family: teco;
}


/*
 *  Font classes for easy reuse
 */

.prociono {
    font-family: 'Prociono';
}

.teco {
    font-family: teco;
}


/*
 * Animations
 */

@-webkit-keyframes blurIn {
    0% {
        color: rgba(255, 255, 255, 0)
    }
    25% {
        color: rgba(255, 255, 255, 1)
    }
    75% {
        color: rgba(255, 255, 255, 1)
    }
    100% {
        color: rgba(255, 255, 255, 0)
    }
}


/* Standard syntax */

@keyframes blurIn {
    0% {
        color: rgba(255, 255, 255, 0)
    }
    25% {
        color: rgba(255, 255, 255, 1)
    }
    75% {
        color: rgba(255, 255, 255, 1)
    }
    100% {
        color: rgba(255, 255, 255, 0)
    }
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-image: url("img/landing.jpg");
    background-attachment: fixed;
    background-size: cover;
}


/*
 * Navigation and popup menu
 */

nav {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 10vh;
    background-color: rgb(255,255,255);
    z-index: 100;
}


nav #small_logo {
    height: 5vh;
}

/*
 * Home page
 */

.landing_page {
    font-size: 6em;
}

.landing_page .main_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
}

.landing_page .main_container .effect_char {
    color: rgba(255, 255, 255, 0);
    animation-name: blurIn;
    animation-duration: 2s;
}

.landing_page .main_container #logo img {
    width: 300px;
    height: auto;
}


/*
 * About Page
 */

/*
 * SIGs
 */
.mybox{
  display: inline-block;
  width: 45%;
  padding: 6%;
  align-items: center;
/*border: 5px solid white ;*/


  color:white;
}
.sliders{
  color:white;
  align: center;
}

/* Common css */

.sub_title {
    font-size: 1.5em;
}
/* Slides */

.slide2, .slide4{

  background-color: rgb(242, 239, 233);


}

.slide1, .slide3{
  background-color:#130440;
}
.slide .col_right{
  margin: 0 auto;
  width: 55%;
}
.slide .col_left{
  padding-right: 0;
  width: 38%;
}
.slide_img{

  margin: 0 auto;

}
.slide_button{

  margin: 0 auto;
  border-radius: 5%;
  background-color: #8E76D4;
  font-family: Montserrat, serif;
  text-transform: uppercase;
  text-align: center;
  border: solid #8E76D4 4px;
  width:auto;
  display:inline-block;
  margin-top:5%;
  padding:1%;
  font-size:20px;
  box-shadow: inset 0 0 0 0 rgb(90, 212, 238);
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  transition: all ease 0.8s;

}

.slide1 .slide_button,.slide3 .slide_button{
  color:  #130440;
  background-color:  #8E76D4;
  border: solid #8E76D4 4px;
}
.slide_heading{
  color: #8E76D4;
  font-family: Montserrat;
  font-size:34px;
}

.slide_content{
  margin-top: 3%;
  font-family: Montserrat;
}
.slide1 .slide_content, .slide3 .slide_content{
    color:  rgb(242, 239, 233);
}
.slide2 .slide_content, .slide4 .slide_content{

    color: black;
}

.wrapper{
  padding: 5%;
  height: 100%;

}
/* Mobile phones */
.projects{

  background-color:  rgb(242, 239, 233);
}
.projectdata{
  height: 33%;
  padding: 3%;
  border-bottom: 0.5px solid gray;
  font-family: Montserrat, serif;
}

.last{

  border-bottom: 0;
}

.leftdata, .rightdata{
  display: inline-block;
}

.rightdata{

  width: 70%;
  height: inherit;


}


.leftdata{
  width: 25%;
  text-align: center;
  height: inherit;

}
.view{
  margin-top: 8px;
  margin-left: 3px;
  border: 3px solid black;
  border-radius: 5%;
  padding: 0.5%;

  color: #7B90FF;
  border-color: #7B90FF;
}
@media only screen and (max-width: 768px) {
    .landing_page {
        font-size: 4em;
    }
    .landing_page .main_container #logo img {
        width: 50%
    }
    .full_screen_menu div {
        display: block!important;
    }
    .top_layer li {
        height: 20vh!important;
    }
    .top_layer li div {
        top: 10vh!important;
    }
    .left_section,
    .right_section {
        display: block;
        width: 100%!important;
    }
    .bottom_layer ul {
        width: 80%;
    }
    .about .wrapper {
        display: block;
        width: 100%;
    }
    .wrapper .col {
        display: block;
        width: 100%;
        padding: 0vh 7vh 0vh 7vh;
    }
    .col_left {
        padding-top: 5vh!important;
        padding-bottom: 5vh!important;
    }
    .text1,
    .text2 {
        text-align: center;
        font-size: 1em;
    }
    .col_right {
        font-size: 1.1em!important;
        text-align: justify;
    }
    .hover div::before {
        top: -8px!important;
    }
    .hover div::after {
        top: 8px!important;
    }
}

@media only screen and (max-width: 1023px) {}
