/*
 * Fonts
 */

@font-face {
    src: url(Teko-Light.ttf);
    font-family: teco;
}


/* 
 *  Font classes for easy reuse
 */

.prociono {
    font-family: 'Prociono';
}

.teco {
    font-family: teco;
}

.sans {
    font-family: 'Open Sans Condensed', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}


/* Nav */

nav {
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

nav #small_logo {
    height: 5vh;
    display: inline-block;
    vertical-align: middle;
}


/* End of Nav */

body {
    background-color: white;
}

.img_holder {

background: #3D7EAA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFE47A, #3D7EAA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFE47A, #3D7EAA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 50vh;
    width: 100%;
    position: relative;
}
.img_section {
    height: 150px;
    overflow: hidden;
    padding: 5px;
}
.data_section{
    text-align: center;
}
div#particles-js {
    height: 50vh;
}
.img_holder .block_title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5em;
    text-align: center;
}

.img_holder h1 {
    font-weight: lighter;
}

.data_holder {
    padding: 30px;
    width: 80%;
    margin: 0px auto;
}

.data_holder p {
    text-align: justify;
}

.data_holder>div {
    padding: 10px;
}

.data_holder .sub_title {
    padding: 10px 0px;
    text-align: center;
    margin: 25px;
    font-size: 1.6em;
}
.sub_title h3::after {
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    margin-top: 10px;

background: #3D7EAA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFE47A, #3D7EAA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFE47A, #3D7EAA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.members ul {
    list-style-type: none;
    overflow: hidden;
}

.members li {
    display: block;
    width: 25%;
    float: left;
}

.members{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content:center;
    margin: 0px auto;
}
.member_card {

    margin: 0px auto;
    text-align: center;
}
.member_core {
    width: 100%;
    max-width: 300px;
    height: 20%;
    padding-top: 2%;
}



.member_core img {
    border-radius: 50%;
    width: 60%;
}
.member_exec{
    padding: 10px;
    width: 20%;
    text-align: center;
}
/*
h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.8em;
    width: 100%;
    background-color: #345492;
    padding: 10px;
    color: white;
}
*/
@media only screen and (max-width: 768px) {
    .data_holder {
        width: 100%!important;
    }
    .img_holder h1 {
        font-size: 2em;
        line-height: 95%;
    }
    .member_exec{
        width: 100%!important;
    }
}

.overLay {
    position: fixed;
    top: 50vh;
    left: 50%;
    width: 100%;
    height: 0vh;
    opacity: 0;
    overflow: hidden;
    transition-duration: 0.8s;
    z-index: 100;
    transform: translate(-50%,-50%);
}
.overLay.visible{
    height: 100vh!important;
    opacity: 1!important;
    transition-duration: .8s;
}
.overLay .content {
    background-color: white;
    width: 80%;
    max-width: 300px;
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    box-shadow: 7px 7px 20px 2px rgba(169, 169, 169, 0.68);
}
.content button {
    width: 100%;
    padding: 10px;
    background-color: #d2d2d2;
    border: 0px;
    outline: none;
    font-size: 1.1em;
}
.content h3 {
    width: 100%;
    background-color: #d2d2d2;
    padding: 10px;
}