/*
 * Fonts
 */

@font-face {
    src: url(Teko-Light.ttf);
    font-family: teco;
}


/* 
 *  Font classes for easy reuse
 */

.prociono {
    font-family: 'Prociono';
}

.teco {
    font-family: teco;
}

.sans {
    font-family: 'Open Sans Condensed', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}


/* Nav */

nav {
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

nav #small_logo {
    height: 5vh;
    display: inline-block;
    vertical-align: middle;
}


/* End of Nav */

body {
    background-color: white;
}

.img_holder {
    background-image: url("img/comps.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100%;
    position: relative;
}

.img_holder .block_title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5em;
    text-align: center;
}

.img_holder h1 {
    font-weight: lighter;
}

.data_holder {
    padding: 30px;
    width: 80%;
    margin: 0px auto;
}

.daa_holder p {
    text-align: justify;
}

.data_holder>div {
    padding: 10px;
}

.data_holder .sub_title {
    padding: 10px 0px;
    text-align: center;
    margin: 25px;
    font-size: 1.6em;
}

.members ul {
    list-style-type: none;
    overflow: hidden;
}

.members li {
    display: block;
    width: 25%;
    float: left;
}

.members{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content:center;
    margin: 0px auto;
}
.member_card {
    width: 100%;
    max-width: 300px;
    height: 20%;
    padding-top: 2%;
}

.member_card>div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.member_card img {
    border-radius: 50%;
    width: 60%;
}
.member_item{
    padding: 10px;
    width: 20%;
}
/*
h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.8em;
    width: 100%;
    background-color: #345492;
    padding: 10px;
    color: white;
}
*/
@media only screen and (max-width: 768px) {
    .data_holder {
        width: 100%!important;
    }
    .img_holder h1 {
        font-size: 2em;
        line-height: 95%;
    }
}
