---
---
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v10/DXI1ORHCpsQm3Vp6mXoaTRampu5_7CjHW5spxoeN3Vs.woff2) format('woff2')
  }

  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(https://fonts.gstatic.com/s/opensans/v10/EInbV5DfGHOiMmvb1Xr-hiYtBUPDK3WL7KRKS_3q7OE.woff2) format('woff2')
  }
  .category {
    margin-top: 1.875rem
  }

  .category a {
    font-size: 1.45rem;
    color: #499bef;
    display: inline-block;
    border: 1px solid #499bef;
    border-radius: .313rem;
    padding: .25rem .625rem;
    margin-right: .125rem;
    margin-bottom: .5rem;
    text-decoration: none
  }

  /* @media only screen and (min-width:37.5rem) {
    .post-content p,
    .post-content h1,
    .post-content h2,
    .post-content h3,
    .post-content h4,
    .post-content ul,
    .post-content ol,
    .post-content iframe {
      font-size: 1.25rem
    }
  } */

  .blog-card-article {
    margin: 0px !important;
  }

  .card-deck {
    display: flex !important;
    width: 100% !important;
  }

  .card {
    background-color: #fff !important;
    flex: 1 !important;
    margin: 10px;

    transition: .5s;
  }

  .card-title {
    margin: 0px !important;
  }

  .card:hover {
    -webkit-box-shadow: 0px 3px 38px -13px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 38px -13px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 38px -13px rgba(0, 0, 0, 0.2);
  }

  .card h3 a {
    color: #000;
    font-weight: 500;
  }

  .card h3 a:hover {
    color: rgb(0, 86, 167);
  }

  .card-label {
    font-size: 12px;
  }

  .card-label a {
    color: #303133 !important;
  }

  @media only screen and (max-width: 1000px) {
    .card {
      display: block !important;
      flex: none;
    }
    .card-deck {
      display: block !important;
    }
  }

  .overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
  }

  .overlay input[type=text] {
    border: none;
    float: left;
    width: 100%;
    background: white;
  }

  .overlay input[type=text]:hover {
    background: #f1f1f1;
  }
