---
---
// TODO: Have a unified definition for cards
.project-card {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 60px 30px 30px;
}

.athena-images {
    margin-bottom: 32px;
    border-radius: 8px;
}
