<section class="author" itemprop="author">
    <div class="details" itemscope itemtype="http://schema.org/Person">
        <img itemprop="image" class="img-rounded" src="{{
        site.data.authors.[page.author_github].avatar }}?v=2&s=200">
        <p class="def">Author</p>
        <h3 class="name">
            <a itemprop="name">{{ site.data.authors.[page.author_github].name }}</a>
        </h3>
        <p class="desc"> {{ site.data.authors.[page.author_github].desc }} </p>
    </div>
</section>
